<div ng-include src="'/views/partials/navbar.html'"></div>
<div ng-include="'partials/home'" ></div>
<div ng-controller="FeedCtrl">
<div ng-controller="HomeCtrl">

<!-- To display feed on wall-->
<div class="container">
	<div id="wrapper">
		<div id="columns">
			<div ng-repeat="tack in feed">
				<div class="pin">
					<a href="{{ tack.link }}"><h3 style = "color: rgb(209, 19, 19);"><center>{{ tack.title }}</center></h3></a>
					<img src="{{ tack.imageURL || 'http://www.designofsignage.com/application/symbol/building/image/600x600/no-photo.jpg' }}" />
					<p>
						{{ tack.desc}}
					</p>
					<form class="form-horizontal" ng-submit="follow(tack)">
                                        <p>
                                                <label ng-hide="tack.followstatus == 'Unfollow'">Follow on</label>
                                                <select class="form-control" ng-model="formData.board" ng-hide="tack.followstatus == 'Unfollow'" ng-options="board for board in user.boards_created"></select>
                                                <button type="submit" class="btn btn-primary" ng-hide="tack.followstatus == 'Unfollow'">{{ tack.followstatus }}</button>
                                        </p>
                                        </form>
                                        <form class="form-horizontal" ng-submit="unfollow(tack)">
                                        <button type="submit" class="btn btn-primary" ng-hide="tack.followstatus == 'Follow'">{{ tack.followstatus }} from {{ tack.boards[0] }}</button>
                                        </form>
				</div>
			</div>
	 	</div>
	</div>
</div>	
