<div ng-include="'partials/navbar'"></div>

<!--Bootstrap Code-->
    <!-- This is the main landing page of the website -->
    <!-- Full Page Image Header Area -->
    <div class="container">
        <div class="row">
        <div class="page-header" style="text-align:center; padding-top:6em; border-bottom:1px solid #999;">
        <h1>My TaCkS</h1>
            <h3>
                <em>"Get</em> Inspired,
                <em>Share</em> Memories"</h3>
        <a href="/signup" class="btn btn-primary btn-default btn-lg">Sign Up</a>
        <a href="/login" class="btn btn-primary btn-default btn-lg">Sign In</a>
        </div>
        </div>
    </div>
    <!-- /Full Page Image Header Area -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row" style="text-align:center; padding-top:13.5em;">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <!--<ul class="list-inline">
                        <li><i class="fa fa-facebook fa-3x"></i>
                        </li>
                        <li><i class="fa fa-twitter fa-3x"></i>
                        </li>
                        <li><i class="fa fa-dribbble fa-3x"></i>
                        </li>
                    </ul>-->
                    <!--<div class="top-scroll">
                        <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                    </div>-->
                    <p><b>Copyright &copy; Nibble 2014</b></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->

    

